// Button component

.button {
  animation: colorCycle $cycle-duration ease-in-out alternate;
  animation-iteration-count: infinite;
  background: $primary-color;
  border-radius: 15px;
  box-shadow: 0 0 15px $primary-color;
  color: $white;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: initial;
  transition: .15s ease;

  &.large {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
  }

  &:hover {
    animation: colorCycle .75s alternate;
    animation-iteration-count: infinite;
    box-shadow: 0 0 8px $primary-color;
    color: $white;
    text-decoration: none;
    transform: translateY(-2px) !important;
  }

  img {
    margin-right: 5px;
  }

  &:active {
    box-shadow: inset 5px 5px 15px darken($primary-color, 5), inset -5px -5px 15px darken($primary-color, 10);
  }

  &.white {
    animation: none;
    background: rgba($black, 0);
    border: 2px solid $white;
    box-shadow: none;
    padding: 9px 15px;


    &:hover {
      background: $white;
      color: $black;
      transform: translateY(-2px);
    }
  }
}
// Tablet Breakpoint
@media (max-width: $breakpoint) {
  .button,
  .button.white {
    display: block;
    font-size: 1.5rem;
    padding: 13px;
  }
}

// Color Cycling Animation
@keyframes colorCycle {
  0% {
    background-color: $primary-color;
    box-shadow: 0 0 15px $primary-color;
  }

  33% {
    background-color: $secondary-color;
    box-shadow: 0 0 15px $secondary-color;
  }

  100% {
    background-color: $alternate-color;
    box-shadow: 0 0 15px $alternate-color;
  }
}
