// Button component

.button {
  background: $primary-color;
  font-size: 1.125rem;
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 0 15px $primary-color;
  transition: all .15s ease;
  padding: 10px 15px;
  text-transform: initial;
  text-decoration: none;
  animation: colorCycle $cycle-duration ease-in-out alternate;
  animation-iteration-count: infinite;

  &.large {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: 0 0 8px $primary-color;
    transform: translateY(-2px);
    text-decoration: none;
  }

  img {
    margin-right: 5px;
  }

  &:active {
    box-shadow: inset 5px 5px 15px darken($primary-color, 5), inset -5px -5px 15px darken($primary-color, 10);
    box-shadow: 0 0 0 $primary-color;
  }

  &.white {
    background: rgba(0, 0, 0, 0);
    border: 2px solid $white;
    box-shadow: none;
    animation: none;

    &:hover {
      color: $black;
      background: #fff;
      transform: translateY(-2px);
    }
  }
}

@media (max-width: $breakpoint) {
  .button {
    display: block;
  }
}

@keyframes colorCycle {
  0%   {background-color: $primary-color; box-shadow: 0 0 15px $primary-color;}
  33%  {background-color: $secondary-color; box-shadow: 0 0 15px $secondary-color;}
  100%  {background-color: $alternate-color; box-shadow: 0 0 15px $alternate-color;}
}
