// Checkout Modal

.checkout {
  align-items: center;
  background: rgba(11, 9, 28, .75);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  img {
    opacity: 1;
    transition: .25s ease;

    &:hover {
      opacity: .5;
      transform: rotate(12deg);
    }
  }

  &.active {
    display: flex;
  }

  div {
    animation: colorCycle 1s ease-in-out alternate;
    animation-iteration-count: infinite;
    border-radius: $global-radius;
    color: $white;
    padding: 75px;
    position: relative;
  }

  h6 {
    color: $white;
    font-size: 56px;
  }

  p {
    font-size: 36px;
    margin-top: 15px;
  }

  a {
    position: absolute;
    right: 25px;
    top: 15px;
  }

}


@media (max-width: $breakpoint) {
  .checkout {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    div {
      padding: 40px;
    }

    h6 {
      color: $white;
      font-size: 32px;
    }

    p {
      font-size: 24px;
      margin-top: 15px;
    }
  }
}
