// Adoption section
#adopt {
  background: $light-gray;
  padding-top: 125px !important;

  &::after {
    clear: both;
  }
}

@media (max-width: $breakpoint) {
  #adopt {
    padding-top: 20px !important;
  }
}
