// Hero Page-Top Section
#hero {
  background-image: linear-gradient(rgba(11, 9, 28, .75), rgba(11, 9, 28, .75)), url('./images/hero.jpg');
  background-position: center;
  background-size: cover;
  color: $white;

  h2 {
    color: $white;
    padding-bottom: 35px;
  }

  p {
    font-style: italic;
    padding-bottom: 15px;
  }

  ul,
  li {
    list-style: none;
  }

  // Hero text that cycles colors
  .swap {
    animation: textCycle $cycle-duration ease-in-out alternate;
    animation-iteration-count: infinite;
    color: $primary-color;
  }

  // Custom divider
  &::after {
    background: url('./images/divider-1.svg') no-repeat;
    background-position-x: center;
    background-size: cover;
    content: '';
    display: block;
    height: 140px;
    margin-bottom: -1px;
  }
}

@media (max-width: $breakpoint) {

  #hero {
    &::after {
      height: 60px;
    }

    h2{
      br {
        display: none;
      }
    }
  }
}

// Cycle through text colors
@keyframes textCycle {
  0%   {color: $primary-color;}
  33%  {color: $secondary-color;}
  100%  {color: $alternate-color;}
}
