// Get Involved Section

#involved {
  background: $white;
  padding-bottom: 66px !important;
  z-index: 5;

  // Custom Divider
  &::after {
    background: url('./images/divider-3.svg') no-repeat;
    background-color: $light-gray;
    background-position-x: center;
    background-size: cover;
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -75px;
  }
  
  .primary-shadow,
  .secondary-shadow,
  .alternate-shadow {
    padding: 25px;
  }

  .primary-shadow {
    filter: drop-shadow(0 0 30px rgba($primary-color, .5));
  }

  .secondary-shadow {
    filter: drop-shadow(0 0 30px rgba($secondary-color, .5));
  }

  .alternate-shadow {
    filter: drop-shadow(0 0 30px rgba($alternate-color, .5));
  }

  #education {
    background: linear-gradient(#00cea9, #00d092);
    clip-path: url('#educate-clip');
    -webkit-clip-path: url('#educate-clip');
    overflow: hidden;
  }
  
  #rescue {
    background: linear-gradient(#e5364b, #ef5365);
    clip-path: url('#rescue-clip');
    -webkit-clip-path: url('#rescue-clip');
    overflow: hidden;
  }

  #adopted {
    background: linear-gradient(#00e6ff,#00b7ff);
    clip-path: url('#adopt-clip');
    -webkit-clip-path: url('#adopt-clip');
    overflow: hidden;
  }

  .animated {
    z-index: -5;
    max-width: 150px;
    max-height: 150px;
    margin: auto;

    & > svg {
      opacity: .5;
      padding: 15px;
    }
  }

  .button.large {
    margin-bottom: 50px;
  }

}

@media (max-width: $breakpoint) {
  #involved {
    &::after {
      height: 0;
    }

    .button.large {
      margin: 25px 0 50px;
      max-width: 100%;
    }

    img {
      margin-bottom: -65px;
      margin-top: -60px;
    }

    .illustrations {
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px) rotate(5deg);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-5px) rotate(-6deg);
  }

  100% {
    transform: translateY(0);
  }
  
}
