// Our Mission Section

#mission {
  background: $light-gray;
  padding-top: 23px !important;

  span {
    font-size: 1.25rem;
  }

  &::after {
    background: url('./images/divider-2.svg') no-repeat;
    background-position-x: center;
    background-size: cover;
    content: '';
    display: block;
    height: 340px;
    margin-bottom: -1px;
    margin-top: -340px;
  }

  video {
    background: $black;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    margin: 0 auto;
    max-height: 400px;
    max-width: 588px;
    overflow: hidden;
    width: 100%;
  }
}

@media (max-width: $breakpoint) {
  #mission {
    &::after {
      height: 150px;
      margin-top: -150px;
    }
  }
}
