// Testimonials Section

#testimonials {
  margin: -125px auto;

  .module {
    background: $black-tint;
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .16);
    padding: 50px;
    z-index: 8;

    img {
      border-radius: 100%;
      overflow: hidden;
    }

    .quote {
      color: $white;
      font-weight: bold;
      text-align: left;

      p {
        font-size: 1.5rem;
        padding-top: 10px;
        text-align: left;
        text-transform: uppercase;
      }

      span {
        color: $white;
        font-size: 2.375rem;
        font-style: italic;
        line-height: 1.2;
        margin-bottom: 25px;
        position: relative;

        &::before {
          background: url('./images/quote-left.svg') no-repeat;
          content: '';
          display: block;
          height: 51px;
          left: -20px;
          position: absolute;
          top: -20px;
          width: 59px;
        }
      }
    }
  }
}


@media (max-width: $breakpoint) {
  #testimonials {
    margin: 0;

    .module {
      .quote {
        display: inline;

        span {
          margin-bottom: 0;
        }

        span,
        p {
          text-align: center;
          font-size: 18px;
        }
      }
    }
  }
}
