//Brand Colors
$primary-color: #1acb97;
$secondary-color: #00e6ff;
$alternate-color: #e5364b;

// Neutrals
$black: #000;
$black-tint: #0b091c;
$white: #fff;

$light-gray: #f7f9fc;

//border-radius
$global-radius: 15px;

// Mobile Breakpoint
$breakpoint: 980px;

$cycle-duration: 30s;
