* {
  font-family: 'Greycliff CF';
  text-align: center;
}

.container,
.et_pb_row {
  width: 80%;
}

.et_pb_row {
  padding: 0 0 30px;
}

@media (max-height: 980px) {
  .et_pb_row {
    padding: 0 0 30px;
  }
}

.et_pb_section {
  padding: 0 !important;
}

a {
  color: $primary-color;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

section {
  &:not(:first-child) {
    padding-top: 25px;
  }
}

@media (max-width: $breakpoint) {
  section {
    &:not(:first-child) {
      padding-top: 15px;
    }
  }

  .container,
  .et_pb_row {
    width: 90%;
  }

}

// Layout Helpers
.no-top {
  margin-top: 0;
  padding-top: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

.hidden {
  display: none;
}

.text-left,
.text-left > .et_pb_text_inner {
  text-align: left !important;
}

.text-right,
.text-right > .et_pb_text_inner {
  text-align: right !important;
}

// Mobile Fixes
@media (max-height: $breakpoint) {
  .et_pb_row {
    padding: 0 0 20px;
  }
}
